<robot name="test-tube-holder">
    <link name="test_tube_holder_base_link">
        <inertial>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <mass
                value="1.0" />
            <inertia
                ixx="1"
                ixy="0"
                ixz="0"
                iyy="1"
                iyz="0"
                izz="1" />
        </inertial>
        <visual>
            <geometry>
                <mesh filename="API_test_tube_holder_v0.0.5.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="API_test_tube_holder_v0.0.5.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

</robot>
