<robot name="erlenmeyer_flask_500ml">
    <link name="flask_base_link">
        <inertial>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <mass
                value="0.5445761924742986" />
            <inertia
                ixx="0.0009018058797403922"
                ixy="1.5529806517386974e-05"
                ixz="-2.6225422539882712e-05"
                iyy="0.0009017803925580123"
                iyz="-2.616318830478963e-05"
                izz="0.0004396650350151845" />
        </inertial>
        <visual>
            <geometry>
                <mesh filename="500ml.STL" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="flask_glass">
                <color rgba="1.0 1.0 1.0 0.4"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="500ml.STL" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

</robot>
