recursive-include brom_drake *.urdf
recursive-include brom_drake *.xml
recursive-include brom_drake *.sdf
recursive-include brom_drake *.obj
recursive-include brom_drake *.dae
recursive-include brom_drake *.stl
recursive-include brom_drake *.STL
recursive-include src/brom_drake *.urdf
recursive-include src/brom_drake *.xml
recursive-include src/brom_drake *.sdf
recursive-include src/brom_drake *.obj
recursive-include src/brom_drake *.dae
recursive-include src/brom_drake *.stl
recursive-include src/brom_drake *.STL
