<?xml version='1.0' encoding='utf-8'?>
<robot name="test-robot">
  <link name="base_link_inertia">
    <visual>
      <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
      <geometry>
        <mesh filename="file:///Users/kwesirutledge/Documents/Development/brom_drake-py/tests/file_manipulation/urdf/DrakeReadyURDFConverter/resources/meshes/ur10e/collision/base.stl" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
      <geometry>
        <mesh filename="file:///Users/kwesirutledge/Documents/Development/brom_drake-py/tests/file_manipulation/urdf/DrakeReadyURDFConverter/resources/meshes/ur10e/collision/base.stl" />
      </geometry>
    </collision>
  </link>
</robot>