name: Verify that all examples still run
on: [pull_request]
jobs:
  run-examples:
    runs-on: ubuntu-latest
    name: Run example
    strategy:
      matrix:
        example_location: [
          'examples/watcher/suggested_use1/create_monitor.py',
          'examples/watcher/wo_convenience1/create_monitor_wo_convenience.py',
          'examples/watcher/changing_plot_arrangement1/create_monitor_w_different_arrangement.py',
          'examples/conversion/suggested_use1/drakeify.py',
          'examples/conversion/converter_advanced_usage1/demo.py',
          'examples/productions/helpful_for_debugging/show_me_this_model/suggested_use1/show.py',
          'examples/productions/helpful_for_debugging/show_me_this_model/suggested_use2/show.py',
          'examples/productions/helpful_for_debugging/show_me_this_model/show_collision_geometries1/show.py',
          'examples/productions/motion_planning/offline/chem_lab1/example.py',
          'examples/productions/motion_planning/offline/shelf/shelf1.py',
          'examples/productions/motion_planning/offline/chem_lab2/suggested_use1/example.py',
          'examples/productions/motion_planning/offline/chem_lab2/providing_start_as_config1/provide_start_config1.py',
          'examples/productions/helpful_for_debugging/grasping/demonstrate_static_grasp/suggested_use1/demonstrate.py',
          'examples/productions/helpful_for_debugging/grasping/demonstrate_static_grasp/changing_color1/color.py',
          'examples/productions/helpful_for_debugging/grasping/demonstrate_static_grasp/defining_grasp_wrt_finger1/defining.py',
          'examples/productions/helpful_for_debugging/grasping/attempt_grasp/with_static_wrist/suggested_use1/attempt.py',
          'examples/conversion/nonconvex_mesh1/nonconvex_mesh.py',
          'examples/productions/helpful_for_debugging/grasping/attempt_grasp/with_static_wrist/with_nonconvex_geometries1/attempt.py',
          'examples/utils/puppetmaker/tutorial1/tutorial1.py',
          'examples/utils/puppetmaker/advanced_usage1_change_visuals/tutorial_with_changed_visuals.py',
          'examples/utils/puppetmaker/wrench1/puppet_wrench.py',
          'examples/productions/helpful_for_debugging/grasping/attempt_grasp/with_puppeteer_wrist/suggested_use1/attempt.py',
          'examples/productions/helpful_for_debugging/grasping/attempt_grasp/with_puppeteer_wrist/suggested_use2/attempt.py',
        ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Fetch all history for git tag
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Get Previous Tag
        id: previous_tag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"
        with:
          fallback: 0.0.1 # Optional fallback tag to use when no tag can be found
          #workingDirectory: another/path/where/a/git/repo/is/checked/out # Optional alternative working directory
      - name: Update version in setup.py
        run: >-
          sed -i "s/{{VERSION_PLACEHOLDER}}/${{ steps.previous_tag.outputs.tag }}/g" setup.py
      - name: Install package
        run: pip install .
      - name: Run the current example
        run: python3 ${{ matrix.example_location }}