name: Upload Sphinx Documentation

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
      - name: Install Sphinx dependencies
        run: |
          pip install sphinx sphinx_rtd_theme myst_parser
      - name: Install package
        run: pip install -e .
      - name: Sphinx build
        run: |
          cd docs && make generate-and-build-docs
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/
          # force_orphan: true